.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 40px;

  .pageItem {
    min-width: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #5cd453;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 30px;

    &:hover {
      background: #44a03e;
    }
    &:focus {
      color: var(--accent);
    }
    &:active {
      color: var(--accent);
    }
  }

  button {
    width: 30px;
    height: 30px;
    font-size: 24px;

    &:hover {
      color: #44a03e;
    }
  }
}
