.pagination {
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100vw;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .pageItem {
      min-width: 30px;
      font-size: 20px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: var(--primary);
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      line-height: 30px;

      &:hover {
        background: var(--colar-600);
      }
      &:focus {
        color: var(--accent);
      }
      &:active {
        color: var(--accent);
      }

      a {
        display: block;
        width: 30px;
        height: 30px;
      }
    }

    button {
      width: 30px;
      height: 30px;
      font-size: 24px;

      &[tabIndex='0']:focus {
        outline: 2px solid var(--accent);
      }

      &:hover {
        color: var(--positive);
      }
    }
  }
}

.selected {
  font-weight: 700;
  color: var(--black);
}
