@import '@/styles/common/index.scss';

.InputContainer {
  width: 100%;
  margin: 3rem auto;
  @include mobile {
    padding: 0 10px;
  }

  .mainInput {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    background: var(--orange-100);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 14px;
    padding: 2.375rem 3.625rem;
    border-radius: 1rem;

    .formInput {
      width: 100%;
      display: flex;
      justify-content: space-around;

      @include tablet {
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
    }


    @include mobile {
      gap: 10px;
      flex-direction: row;
      padding: 0 8% 0 5%;
      background: none;
    }

    .searchFormInput {
      @include tablet{
        margin-left: 0.5rem;
      }
    }

    .searchFormInputSelector,
    .searchFormInput {
      @include mobile {
        display: none;
      }
    }

    .ChatButton {
      display: none;
      @include mobile {
        display: flex;
      }
    }
  }
}

.inputSearchButton {
  position: relative;
  max-width: 35rem;
  width: 100%;
  margin-right: 15px;

 
 

  @include mobile {
    display: none;
  }
}

.searchButton {
  width: 32px;
  height: 32px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  right: 47%;
  transform: translate(-50%, -50%);
  margin-right: -48%;
}

.closeButton {
  width: 1rem;
  position: absolute;
  top: 32%;
  right: 10%;
  opacity: 0.5;
  margin-right: 1.5rem;


  &:hover {
    opacity: 1;
  }
}