@import '@/styles/common/index.scss';

.socialIconGroupWrapper {
  grid-column: 1 / 3;
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  width: 230px;
  height: 30px;
}

.socialIcon {
  width: 30px;
  height: 30px;
}
