.socialIconGroup-Wrapper {
  display: flex;
  flex-flow: row nowrap;
  padding: 0px;
  gap: 20px;
  position: absolute;
  width: 230px;
  height: 30px;
}

.socialIcon {
  width: 30px;
  height: 30px;
}