.input {
  background: var(--gray-100);
  width: 100%;
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  border: 2px solid var(--gray-500);

  .sendInput {
    width: 100%;
  }

  input {
    width: 100%;
    padding: 0.8rem;
    margin-left: -10px;
    color: var(--black);
    font-size: 18px;

    &:focus {
      border-radius: 12px;
      border: 2px solid var(--accent);
    }
    &::placeholder {
      color: var(--gray-600);
    }
  }

  .sendBtn {
    display: flex;
    align-items: flex-start;
    gap: 10px;

    input[type='file'] {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }

    label {
      display: inline-block;
      width: 36px;
      height: 36px;
      cursor: pointer;

      &:focus-visible {
        border-radius: 50%;
        outline: 3px solid var(--accent);
      }
    }

    img {
      height: 36px;
    }

    button[type='submit'] {
      width: 36px;
      height: 36px;
      padding: 0 10px;
      color: white;
      background-color: var(--primary);
      cursor: pointer;
      border-radius: 50%;
      font-size: 30px;

      &:focus-visible {
        border-radius: 50%;
        outline: 3px solid var(--accent);
      }
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
