@import "@/styles/common/index.scss";
.homeContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  .homeLeftContent{
    width: 100%;
    margin:0 auto;
    text-align: center;
    span{
      font-size: clamp(1rem, 5vw, 2.5rem);
      font-weight: 700;
    }
    @include mobile{
      display: none;
    }
  }


.contents {
  background-color: var(--gray-200);
  width: 360px;
  height: 1024px;
  padding: 0 15px;
  display: flex;
  margin-left: auto;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  

  .startText {
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
  }

  .joinButton,
  .loginButton {
    font-size: 22px;
  }

  .guestButton {
    font-size: 32px;
    margin-top: 40px;
  }
}
}