.message {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  text-align: center;

  .messageInfo {
    display: flex;
    flex-direction: column;

    color: var(--gray-700);
    font-weight: 300;
    gap: 3px;
    p {
      color: var(--gray-800);
      font-size: 14px;
      font-weight: 600;
    }

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .messageContent {
    max-width: 80%;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    margin-top: 25px;

    p {
      background-color: white;
      padding: 10px 20px;
      border-radius: 0px 10px 10px 10px;
      max-width: max-content;
    }

    img {
      width: 50%;
    }
  }

  &.owner {
    flex-direction: row-reverse;

    .messageContent {
      align-items: flex-end;

      img {
        min-width: 100px;
        min-height: 100px;
      }

      p {
        background-color: var(--secondary);
        color: var(--black);
        border-radius: 10px 0px 10px 10px;
      }
    }
  }

  &.guest {
    .messageContent {
      img {
        min-width: 100px;
        min-height: 100px;
      }

      p {
        background-color: var(--gray-500);
        color: var(--black);
        border-radius: 0px 10px 10px 10px;
      }
    }
  }
}
