@import "@/styles/common/index.scss";

.meetingContainer{
  max-width: 72.4375rem;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  

  @include tablet{
    grid-template-columns: 1fr 1fr ;
    margin:0 auto;
  }
  
  @include mobile{
    grid-template-columns: 1fr;
    margin:0 auto;
  }


  
}