.search {
  border-bottom: 1px solid var(--gray-500);

  .searchForm {
    padding: 10px;

    input {
      background-color: transparent;
      color: var(--black);
      border: 1px solid var(--gray-500);
      border-radius: 16px;
      outline: none;
      padding: 10px;

      &::placeholder {
        color: var(--gray-800);
      }
      &:focus {
        border: 2px solid var(--accent);
      }
    }
  }
}

.userChat {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--colar-800);
  cursor: pointer;

  &:hover {
    background-color: var(--gray-300);
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}
