:root { 
  --primary: #ff7f00;
  --secondary: #f7b13c;
  --tertiary: #d9d9d9;
  --accent: #276ef1;
  --negative: #e11900;
  --warning: #ffe600;
  --positive: #048848;
  --white: #ffffff;
  --black: #000000;
  --gray-100: #f6f6f6;
  --gray-200: #efefef;
  --gray-300: #e6e6e6;
  --gray-400: #dedede;
  --gray-500: #d6d6d6;
  --gray-600: #ababab;
  --gray-700: #808080;
  --gray-800: #565656;
  --gray-900: #2b2b2b;
  --blue-100: #d4e2fc;
  --blue-200: #a9c5f9;
  --blue-300: #7da8f7;
  --blue-400: #528bf4;
  --blue-500: #276ef1;
  --blue-600: #1f58c1;
  --blue-700: #174291;
  --blue-800: #102c60;
  --blue-900: #081630;
  --yellow-100: #fffacc;
  --yellow-200: #fff599;
  --yellow-300: #fff066;
  --yellow-400: #ffeb33;
  --yellow-500: #ffe600;
  --yellow-600: #ccb800;
  --yellow-700: #998a00;
  --yellow-800: #665c00;
  --yellow-900: #332e00;
  --red-100: #f9d1cc;
  --red-200: #f3a399;
  --red-300: #ed7566;
  --red-400: #e74733;
  --red-500: #e11900;
  --red-600: #b41400;
  --red-700: #870f00;
  --red-800: #5a0a00;
  --red-900: #2d0500;
  --colar-100: #ffe5cc;
  --colar-200: #ffcc99;
  --colar-300: #ffb266;
  --colar-400: #ff9933;
  --colar-500: #ff7f00;
  --colar-600: #cc6600;
  --colar-700: #994c00;
  --colar-800: #663300;
  --colar-900: #331900;
  --orange-100: #fdefd8;
  --orange-200: #fce0b1;
  --orange-300: #fad08a;
  --orange-400: #f9c163;
  --orange-500: #f7b13c;
  --orange-600: #c68e30;
  --orange-700: #946a24;
  --orange-800: #634718;
  --orange-900: #31230c;
}