.header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--colar-700);
  background: gray;
  
  @media ( min-width: 360px ) {
    background: red;
  }
  @media ( min-width: 768px ) {
    background: blue;
  }
}