@import '../../styles/common/index.scss';

.title {
  text-align: center;
  width: 70%;
  height: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 28px;
  margin: 2rem auto;
  background: var(--white);
  border: 3px solid var(--gray-400);
  border-radius: 16px;
  color: var(--colar-700);
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.09),
    0 0.5rem 1.125rem rgba(75, 0, 0, 0.09);
}

.InputContainer {
  width: 100%;
  margin: 3rem auto;

  @include mobile {
    padding: 0 10px;
  }
}

.formInput {
  width: 100%;
  display: flex;
  justify-content: space-around;

  @include tablet {
    flex-direction: column;
  }

  @include mobile {
    gap: 10px;
    flex-direction: row;
    padding: 0 8% 0 5%;
    background: none;
  }

  .searchFormInput {
    &::placeholder {
      font-size: 24px;
    }
    @include mobile {
      &::placeholder {
        font-size: 15px;
      }
    }
  }

  .inputSearchButton {
    position: relative;
    max-width: 35rem;
    width: 100%;

    .searchFormInput {
      border: 2px solid var(--gray-400);

      &:focus-visible {
        outline: 3px solid var(--accent);
      }
    }
  }

  .searchButton {
    width: 32px;
    height: 32px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    margin-right: -48%;

    &:focus-visible {
      border-radius: 12px;
      outline: 3px solid var(--accent);
    }
  }
}

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.3rem;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;

    margin-right: 1rem;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      background: var(--orange-300);
      color: var(--white);
    }

    &:active {
      background: var(--orange-500);
      color: var(--white);
    }

    &.active {
      background: var(--orange-500);
      color: var(--white);
    }
  }
  .previous,
  .next {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2rem;
    margin-right: 1rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      background: var(--orange-300);
      color: var(--white);
    }
  }
}
