.title {
  text-align: center;
  width: 70%;
  height: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 2rem auto;
  background: var(--white);
  border: 3px solid var(--primary);
  border-radius: 16px;
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.09),
    0 0.5rem 1.125rem rgba(75, 0, 0, 0.09);
}
