.footer {
  width: 100%;
  background: var(--secondary);
  margin-top: auto;
}

.contents {
  width: 100vw;
  max-width: 1440px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
