@import '@/styles/common/index.scss';

.mapContainer {
  max-width: 300px;
  min-width: 200px;
  width: 100%;
  margin-right: 50px;

  @include mobile {
    width: 100%;
    margin: 0;
  }
  .map {
    width: 14.2rem;
    height: 250px;

    @include mobile {
      width: 14.2rem;
      height: 200px;
      margin: 20px 0;
    }
  }
}
