.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;

  span {
    font-size: 2vw;
    font-weight: 700;
  }

  h1 {
    font-size: 10vw;
    font-weight: 700;
    color: var(--primary);
  }

  p {
    font-weight: 300;
    font-size: 4vw;
    margin-bottom: 30px;
    font-weight: 600;
    color: var(--colar-700);
  }
}
